.container {
    position: relative;
    padding: 15px;
    max-width: 1266px;
    margin: 0 auto;
}
.galery-wrapper {
    width: 100%;
    overflow-x: auto;
}
.galery-wrapper::-webkit-scrollbar {
    display: none;
}
.gallery-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.galery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    padding: 1em;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border: none;
    opacity: 0.1;
    margin: -3em;
    transition: all 600ms ease-in-out;
    background-color: transparent;
}
.arrow-right {
    left: auto;
    right: 0;
}
.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.biblia, .imagem {
    width: 300px;
    height: 450px;
    border: 1px solid #ececec;
    box-shadow: 0px 10px 24px -7px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    padding-bottom: 1rem;
    background-color: #FFFFFF;
}
.biblia img, .imagem img {
    width: 290px;
    max-height: 400px;
    overflow: hidden;
    transition: transform .3s;
    flex-shrink: 1;
}

.biblia img:hover, .imagem img:hover {
    transform: scale(0.95);
}

.hidden {
    display: none;
}